# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\python progrming\book project for beginners 10 week bootcamps python\chapter10\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
